html, body {
  background-color: #F7F7F7;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lustria";
  font-size: 16px;
  color: #26151A;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem 3rem;
}

.site-content {
  display: flex;
  justify-content: center;
  width: 70%;
}

.art-book {
  width: 80%;
  height: 90vh;
}
