@import '_variables';

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 35%;
  @include tablet {
    width: 100%;
    margin-bottom: 10rem;
  }
}

.sidebar-title {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 3.5rem;
}

.sidebar-content {
  @include tablet {
    margin-right: 8rem;
  }
}

.ezio-img {
  height: 4rem;
  float: left;
  margin-right: 1rem;
  object-fit: contain;
}

.bio {
  font-size: clamp(1.2rem, 1.4vw, 1.3rem);
  margin: 0;
}

.contact {
  font-size: 1rem;
}
